@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,800;0,900;1,700&family=Rubik+Iso&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

section {
    position: relative;
    width: 100%;
    min-height: 77vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-image: url(https://color-hex.org/colors/082c4e.png);
}

header {
    position: relative;
    top: 0;
    width: 100%;
    padding: 40px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    position: relative;
    color: #fff;
    font-size: 30px;
    text-decoration: none;
    /* text-transform: uppercase; */
    font-weight: 900;
    /* letter-spacing: 1px; */
}

header .navbar a {
    color: #fff;
    text-decoration: none;
    font-weight: 900;
    letter-spacing: 1px;
    padding: 2px 30px;
    /* margin-left: 5px; */
}

header .navbar a:not(:last-child) {
    margin-right: 30px;
}

header .navbar a:hover {
    text-decoration: yellow underline solid 2px;
    font-weight: 600px;
    /* text-shadow: black 10px; */
    /* font-size: 20px; */
    /* color: black; */
}

.content {
    max-width: 650px;
    margin: 90px 250px;
}

.content .info h2 {
    color: #fff;
    font-size: 55px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 1px;
    /* line-height: 50px; */
    margin-bottom: 30px;
}

.content .info p {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 48px;
    color: #fff;
}

.content .info-btn {
    color: #fff;
    border: solid;
    border-radius: 40px;
    padding: 10px;
    text-decoration: none;
    letter-spacing: 3px;
    font-family: "Poppins", sans-serif;
}

.content .info-btn:hover {
    background: #fff;
    color: black;
}

.img1 {
    margin-left: 750px;
    width: 450px;
    margin-top: -300px;
}

.column1,
.column2,
.column3,
.column4,
.column5 {
    /* background-color: #ffffff; */
    width: 250px;
    float: left;
    margin: 10px;
    margin-left: 50px;
    text-align: center;
    border: solid;
    padding: 30px 30px 30px;
    color: #082c4e;
}

#feature h2 {
    text-align: center;
    font-size: 70px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 80px;
    margin-bottom: 65px;
}

.column1 {
    background-color: #fe6571;
}

.column2 {
    background-color: #ffcc00;

}

.column3 {
    background-color: #22a5e5;
}

.column4 {
    background-color: #d9cec3;
}

.column5 {
    background-color: #5718a5d1;
}

/* .column1 .column2 .column3 .column4 .column5 p{
    margin-top: 20px;
} */